.green-bar {
  min-height: 30vh;
}

.bg-green {
  background-color: #07AB80
}

.bg-image {
  background-image: url(beer.avif);
  background-position: top;
  background-size: 982px 500px;
}

.bg-mission {
  background-image: url(https://cdn1.epicgames.com/ue/item/HQWesternSaloon_screenshot_01-1920x1080-26bcf4b61083d64e7eebe92b54f21045.png?resize=1&w=1920);
  min-height: 100vh;
  min-width: 50vh;
  background-position-x: center;
}

.button-cool {
  background-color: #07AB80;
  border: none;
  font-size: 16pt;

}

.button-cool:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);

}

.pop {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.form-card {
  min-width: 36vh;
}

.review-card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  max-width: 30vh;

}

.hide-card {
  display: block;
}

.emph-card {
  min-height: 25vh;
  min-width: 15vh;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.review-card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.emph-card:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.move-down {
  transform: translateY(10vh)
}

.fatface {
  font-family: 'Abril Fatface', cursive;
  color: white;
}

.footer-space {
  min-height: 30vh;
}

.footer-space2 {
  min-height: 10vh;
}

@media(max-width:750px) {
  .hide-card {
    display: none;
  }

  .move-down {
    transform: translateY(0vh)
  }
}